body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

#messageBox{
    border: 1px solid black;
    height: 90vh;
}

#messageBox p{
    margin: 0;
    padding: 10px;
}

#messageBox  :nth-child(odd){
    background-color: #aaa;
}

form{
  display: flex;
}

#nom{
    flex: 1;
    padding: 10px;             
}

#message{
    flex: 5;
    padding: 10px;
}

button{
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #839dfe;
    color: white;
}